@import "../../styles/variables.scss";

.nav {
    width: $headerWidth;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 20px;
    .navLinks {
      margin-top: 50px;
      border-left: 2px solid white;
      list-style-type: none;
      a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 5px 20px;
        font-size: 15px;
        &:hover {
          color: black;
          background-color: $lightWight;
        }
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        li {
        }
    }
  }
}
.active {
  background-color: white;
  color: black !important;
}



/* 
  .move {
    -webkit-transform: translateX(20vw) rotate(360deg);
            transform: translateX(20vw) rotate(360deg);
  }
  .burger {
    display: none;
    position: fixed;
    top: 20px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 110;
    left: 20px;
  }
  .burger span {
    position: absolute;
    display: block;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
  }
  .burger span:nth-child(1) {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  .burger span:nth-child(3) {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  .xer span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .xer span:nth-child(2) {
    opacity: 0;
  }
  .xer span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav {
    max-width: 15vw;
    height: 100vh;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  nav a {
    color: white;
  }
  nav .menuLogo {
    padding: 15px;
  }
  nav .links {
    margin-top: 50px;
  }
  nav .links a {
    font-size: 15px;
  }
  nav .links a:hover li {
    background-color: #fafafa;
    color: black;
  }
  nav .links li {
    border-left: 2px solid white;
    padding: 5px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  nav .links .active {
    background-color: white !important;
    color: #000;
  }
  .menuActive {
    left: 0 !important;
  }
  .closer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 98;
    display: none;
  }
  @media (max-width: 1370px) {
    .move {
      -webkit-transform: translateX(30vw) rotate(360deg);
              transform: translateX(30vw) rotate(360deg);
    }
    .burger {
      display: block;
    }
    nav {
      max-width: 30vw;
      left: -100%;
    }
  }
  @media (max-width: 440px) {
    .move {
      -webkit-transform: translateX(50vw) rotate(360deg);
              transform: translateX(50vw) rotate(360deg);
    }
    nav {
      max-width: 100vw !important;
    }
  }
   */