.car-container{
    position: relative;
    img {
    margin-left: 30vw;
    margin-top: 200px;
    position: absolute;
    width: 50vw;
    }
}
.model {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 100vh;
    width: 100vw;
}