@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  top: $logoHeight;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px 10px;
  position: relative;
  max-width: 1070px;
  padding-bottom: 20vh;
  .imgContainer {
    padding: 10px 0;
    margin-bottom: 50px;
    flex-basis: 40%;
    margin-right: 25px;
    img {
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      padding: 10px 0;
      width: 100%;
    }
  }
  .littleWidth {
    flex-basis: 38%;
  }
  .text {
    border: 2px solid white;
    padding: 20px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    @include shadowGlowing();

    h1 {
      margin-bottom: 25px;
    }
    p {
      font-size: 13px;
    }
  }
  p {
    font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    // font-size: 12px;
    color: white;
    margin-bottom: 10px;
    font-weight: 300;
  }
}
.font {
  p {
    -webkit-font-smoothing: antialiased;
  }
}
@media (max-width: 870px) {
  .container {
    justify-content: center;
    .imgContainer {
      flex-basis: 100%;
      min-width: 200px;
      margin: 25px !important;
    }
    .littleWidth {
      flex-basis: 100%;
    }
  }
}
@media (max-width: 440px) {
  .container {
    justify-content: center;
  }
}
