@import "./mixins.scss";
@import "./variables.scss";

.container {
  top: $logoHeight;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  .row {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    .card {
      @include shadowGlowing();
      @include darkOpacity();
      flex-basis: 45%;
      padding: 10px 0px;
      border-radius: 5px;
      h2 {
        text-align: center;
        margin: 15px 0;
      }
      .cardPad {
        padding: 10px 20px;

        h1 {
          margin-bottom: 10px;
        }
        .cardTextBlock {
          margin-bottom: 25px;
          a {
            display: block;
            margin-bottom: 10px;
          }
          .flex {
            display: flex;
            p {
              margin-right: 5px;
            }
          }
          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
