@import "./mixins.scss";
@import "./variables.scss";

// .leftContainer {
//   margin-left: $navWidth;
// }
.container {
  top: $logoHeight;
  // max-width: 900px;
  max-width: 90vw;
  margin: 0 auto;
  position: relative;
  margin-left: 15vw;
  padding: 20px 35px;

  .video {
    width: 100%;
    iframe {
      border: none;
      width: 100%;
      min-height: 280px;
    }
  }
  .row {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;

    .mb {
      margin-bottom: 20vh;
    }
    .bigCard {
      @include shadowGlowing();
      @include darkOpacity();
      flex-basis: 100%;
      padding: 10px 0px;
      border-radius: 5px;

      //   clone
      h2 {
        text-align: center;
        margin: 15px 0;
      }
      .cardPad {
        padding: 10px 20px;

        .videoRow {
          display: flex;
          margin-bottom: 25px;
          .videoSize {
            flex-basis: 80%;
            p {
              margin-right: 10px;
              line-height: 20px;
              font-size: 14px;
            }
          }
        }
        .blockA {
          margin-top: 15px;
          a {
            display: block;
            margin-bottom: 10px;
          }
        }

        h1 {
          margin-bottom: 10px;
        }
        .cardTextBlock {
          margin-bottom: 25px;
          a {
            display: block;
            margin-bottom: 10px;
          }
          .flex {
            display: flex;
            p {
              margin-right: 5px;
            }
          }
          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

//
@media (max-width: 1000px) {
  .container {
    padding: 10px 50px;
    .row {
      flex-direction: column;
    }
  }
}
@media (max-width: 570px) {
  .container {
    top: $logoHeight;
    max-width: 900px !important;

    margin-left: 0 !important;
    padding: 20px 40px !important;
  }
}
