html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: black;
  color: white;
}

a {
  color: white;
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.flex_c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_cw {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex_cc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex_sm {
  display: flex;
  justify-content: center;
  align-items: center;
}
