html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // background: black;
  color: white;
}
html {
  background: #333;
}

a {
  color: lightblue;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.flex_c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_cw {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex_cc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex_sm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadShine {
  box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  padding: 10px 20px;
}
ul {
  list-style-type: none;
}
