.count {
  &:nth-of-type(2) {
    img {
      width: 80%;
      width: 250px;
    }
  }
  &:nth-child(3) {
    img {
      margin-top: 25px;
      max-width: 170px !important;
    }
  }
}
.keysWrapper {
  height: 100vh;
  color: white;
  .backLogo {
    position: fixed;
    min-width: 50vw;
  }
  .keysLine {
    top: 0;
    position: relative;
    width: 80vw;
    justify-content: space-between;
    align-items: flex-start;
    .keyCard {
      justify-content: flex-start;
      .keyImg {
        min-height: 300px;
      }
      img {
        width: 220px;
      }
      // &:nth-of-type(2) {
      //   img {
      //     width: 80%;
      //     width: 240px;
      //     border: 2px solid red;
      //   }
      // }
      // &:nth-child(3) {
      //   img {
      //     margin-top: 25px;
      //     width: 180px;
      //   }
      // }
      text-align: center;
      width: 300px;
      transition: 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

//
@media (max-width: 1200px) {
  .keysLine {
    position: absolute !important;
    flex-direction: column;
    align-items: center !important;
    font-size: 12px;
    .keyCard {
      justify-content: center !important;
      .keyImg {
        min-height: 100px !important;
      }
      img {
        width: 120px !important;
      }
      &:nth-child(2) {
        img {
          width: 80%;
          width: 140px !important;
        }
      }
      &:nth-child(3) {
        img {
          margin-top: 25px !important;
          width: 80px !important;
        }
      }
      text-align: center;
      width: 200px !important;
      transition: 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
@media (max-width: 570px) {
}
