.backgroundImg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
.black {
  background: black;
}
.headerLogo {
  width: 180px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 20%);
  z-index: 10000;
  cursor: pointer;
  img {
    width: 100%;
  }
}
