/* .nav {
position:fixed;
    height: 60px;
    top:0;
    left:0;
    right:0;
    background: #333;
    display: flex;
    justify-content:space-around;
    align-items:center;
  }
  .nav a {
    color: white;
    text-decoration:none;
  }
  .main {
    margin-top:60px;
    padding:1rem;
  } */